@font-face {
    font-family: "Mabry Pro";
    src: url("./assets/fonts/MabryPro-Bold.eot");
    src: local("Mabry Pro Bold"), local("MabryPro-Bold"),
        url("./assets/fonts/MabryPro-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/MabryPro-Bold.woff2") format("woff2"),
        url("./assets/fonts/MabryPro-Bold.woff") format("woff"),
        url("./assets/fonts/MabryPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("./assets/fonts/MabryPro-Medium.eot");
    src: local("Mabry Pro Medium"), local("MabryPro-Medium"),
        url("./assets/fonts/MabryPro-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/MabryPro-Medium.woff2") format("woff2"),
        url("./assets/fonts/MabryPro-Medium.woff") format("woff"),
        url("./assets/fonts/MabryPro-Medium.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("./assets/fonts/MabryPro-Black.eot");
    src: local("Mabry Pro Black"), local("MabryPro-Black"),
        url("./assets/fonts/MabryPro-Black.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/MabryPro-Black.woff2") format("woff2"),
        url("./assets/fonts/MabryPro-Black.woff") format("woff"),
        url("./assets/fonts/MabryPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("./assets/fonts/MabryPro-Light.eot");
    src: local("Mabry Pro Light"), local("MabryPro-Light"),
        url("./assets/fonts/MabryPro-Light.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/MabryPro-Light.woff2") format("woff2"),
        url("./assets/fonts/MabryPro-Light.woff") format("woff"),
        url("./assets/fonts/MabryPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("./assets/fonts/MabryPro-BlackItalic.eot");
    src: local("Mabry Pro Black Italic"), local("MabryPro-BlackItalic"),
        url("./assets/fonts/MabryPro-BlackItalic.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/MabryPro-BlackItalic.woff2") format("woff2"),
        url("./assets/fonts/MabryPro-BlackItalic.woff") format("woff"),
        url("./assets/fonts/MabryPro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mabry Pro";
    src: url("./assets/fonts/MabryPro-Regular.eot");
    src: local("Mabry Pro"), local("MabryPro-Regular"),
        url("./assets/fonts/MabryPro-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/MabryPro-Regular.woff2") format("woff2"),
        url("./assets/fonts/MabryPro-Regular.woff") format("woff"),
        url("./assets/fonts/MabryPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-font: "Mabry Pro", sans-serif;

    --text-color-white: rgb(255, 255, 255);
    --text-color-white-85: rgba(255, 255, 255, 0.85);
    --text-color-white-65: rgba(255, 255, 255, 0.65);
    --text-color-white-50: rgba(255, 255, 255, 0.5);

    --white: white;
    --black: black;
    --pink: #ff90e8;
    --dim-grey: #78716c;
    --white-smoke: #f4f4f0;
    --yellow-dark: #ffc900;
    --yellow: #f1f333;
    --orange: #e2442f;
    --teal: #23a094;
    --purple: #90a8ed;
    --red: #98282a;
    --violet: #b23386;

    --font-size-xl: 18px;
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xs: 11px;
    --font-size-xxs: 10px;

    --opacity-100: 1;
    --opacity-85: 0.85;
    --opacity-65: 0.65;
    --opacity-50: 0.5;

    --padding-xl: 24px;
    --padding-l: 20px;
    --padding-m: 16px;
    --padding-s: 10px;
    --padding-xs: 8px;

    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --border-radius-l: 12px;
    --border-radius-circle: 50%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    font-family: var(--main-font);
    font-weight: 400;
    background-color: var(--white);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    z-index: 2;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5.625rem;
    font-weight: 400;
    line-height: 0.9;
}

.disable-text-selection {
    -moz-user-select: none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
}
